---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers: {}
    url: https://alldebrid.com/register/?action=login&login_login=valid-username&login_password=valid-password&returnpage=%2Faccount%2F
    method: GET
  response:
    body: ""
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Location:
      - https://alldebrid.com/account/
    status: 302 Found
    code: 302
- request:
    body: ""
    form: {}
    headers:
    url: https://alldebrid.com/account/
    method: GET
  response:
    body: ""
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: https://alldebrid.com/service.php?json=true&link=http%3A%2F%2Frapidgator.net%2Ffile%2F08987898765%2FHTGAWM.mkv
    method: GET
  response:
    body: '{"link":"https:\/\/subdomain.alld.io\/dl\/ABC\/HTGAWM.mkv","host":"rapidgator","filename":"HTGAWM.mkv","icon":"\/lib\/images\/hosts\/rapidgator.png","streaming":{"360p
      unknow 0":"https:\/\/subdomain.alld.io\/utb\/ABC\/HTGAWM.%28360p%29+%28unknow+0%29.mp4"},"nb":0,"error":"","paws":true,"filesize":2377121}'
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 200 OK
    code: 200
- request:
    body: '{"jsonrpc":"2.0","method":"aria2.addUri","params":["token:my-good-token",["https://subdomain.alld.io/dl/ABC/HTGAWM.mkv"]],"id":5577006791947779410}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: http://127.0.0.1:6800/jsonrpc
    method: POST
  response:
    body: '{"id":5577006791947779410,"jsonrpc":"2.0","result":"96676fbc46cbbaaz"}'
    headers:
      Content-Type:
      - application/json-rpc
    status: 200 OK
    code: 200
